config @NAME@ 
	option SerialAPIPortName ''
	option PanIp6             'fd00:bbbb::1'
	option PanIp6PrefixLength '64'
	option UnsolicitedDestinationIp6  ''
	option UnsolicitedDestinationPort '4123'
	option LanIp6 'fd00:aaaa::2'
	option LanIp6PrefixLength '64'
	option LanGw6 'fd00:aaaa::1'
	option PSK '1234567890'
	option CaCert '/etc/zipgateway.CA_x509.pem'
	option Cert '/etc/zipgateway.x509_1024.pem'
	option PrivKey '/etc/zipgateway.key_1024.pem'
	option Portal '' 


